*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    color: white;
}
#main{
    position: relative;
    /* overflow: hidden; */
}
#page1{
    height: 100vh;
    width: 100%;
    /* background: red; */
    position: relative;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1 #nav{
    height: 10vh;
    width: 100vw;
    /* background: black; */
    background: #0842E1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    z-index: 10;
}
#nav img{
    height: 9vh;
    cursor: pointer;
}
#rightNav{
    margin-right: 10px;
}
#rightNav #btn1{
    border-radius: 25px;
    /* padding: 1; */
    width: 9vw;
    height: 5.5vh;
    color: white;
    font-weight: 500;
    border: 1px solid #5077e2;
    background: #0842E1;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#rightNav #btn1:hover{
    background: white;
    color: #0842E1;
}
#rightNav #btn2{
    border-radius: 25px;
    /* padding: 1; */
    width: 5vw;
    height: 5.5vh;
    color: white;
    font-weight: 500;
    border: 1px solid #5077e2;
    background: #0842E1;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
#rightNav #btn2:hover{
    border: 1px solid white;
}

#heroSection{
    position: absolute;
    top: 47%;
    left: 10%;
}
#heroSection2{
    display: flex;
    gap: 10px;
    align-items: center;
}
#heroSection h1{
    font-size: 15vh;
    line-height: 14vh;
}
#heroSection p{
    margin-top: 5vh;
    font-size: 3vh;
    line-height: 4vh;
}
#heroSection2 button{
    border-radius: 25px;
    width: 11vw;
    height: 7vh;
    margin-top: 40px;
    border: none;
    color: #5077e2;
    padding: 10px;
    text-transform: uppercase;
    background: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    cursor: pointer;
}
#heroSection2 button:hover{
    color: white;
    background: #000;
}


#page2{
    height: 100vh;
    width: 100%;
    background: #0B3CCF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8vw;
}
#page2 h1{
    margin-top: 40px;
    font-size: 4vw;
    color: #3E65D8;
}

#page3{
    height: 100vh;
    width: 100%;
    /* background:red; */
    position: relative;
}
#page3 canvas{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

#page4{
    height: 100vh;
    width: 100%;
    background: #0B3CCF;
    position: relative;
     display: flex;
    flex-direction: column;
    padding: 8vw;
}
#page4 h1{
    margin-top: 40px;
    font-size: 4vw;
    color: #3E65D8;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#page6{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #0D36C5;
    display: flex;
    flex-direction: column;
    padding: 8vw;
}
#page6 h1{
    margin-top: 40px;
    font-size: 4vw;
    color: #3E65D8;
}

#page7{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #0D36C5;
}
#page7>h1{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}